/.vs/
/.vscode/
/.idea/
/.trae/

**/bin/
**/obj/
**/*.user
**/*.suo
**/*.rsuser
**/*.cache
**/*.pdb

**/node_modules/
Web/node_modules/
**/dist/
Web/dist/
**/.angular/cache/
Web/.angular/cache/
**/coverage/
Web/coverage/

**/*.log
**/npm-debug.log*
**/yarn-error.log*

**/.DS_Store
**/Thumbs.db

**/.env
**/.env.*